@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

:root {
    --primary-color: #F2F2F2;
    --secondary-color: #D99873;
    --tertiary-color: #D97E6A;
    --extra-color: #A64E46;
    --text-color: #260101;
    --barra-nav: black;

    --title-font: "Encode Sans SC", sans-serif;
    --GoDo-font: "Gowun Dodum", sans-serif;
}

.sectionTitulo
{
    display: flex;
    justify-content:center;
    align-items: center;
}
.tituloFormulario
{
    font-family: var(--title-font);
    color: var(--extra-color);

}

.sectionForm
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
}
.sectionForm div
{
    margin-top: 10px;
}

.campoDocumentacion
{
    display: flex;
    flex-direction: column;
}

footer
{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: var(--text-color);
  text-align: center;
  padding: 1rem;
}
