@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

:root {
    --primary-color: #F2F2F2;
    --secondary-color: #D99873;
    --tertiary-color: #D97E6A;
    --extra-color: #A64E46;
    --text-color: #260101;
    --barra-nav: black;

    --title-font: "Encode Sans SC", sans-serif;
    --GoDo-font: "Gowun Dodum", sans-serif;
}

.sectionTitulo
{
    display: flex;
    justify-content:center;
    align-items: center;
}
.tituloFormulario
{
    font-family: var(--title-font);
    color: var(--extra-color);

}

.sectionForm label
{
    color: var(--extra-color);
    font-weight: bold;
}
.sectionForm
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sectionForm div
{
    margin-top: 10px;
}

fieldset 
{
    border: 2px solid var(--extra-color); 
    border-radius: 10px;                 
    padding: 15px;                        
    margin-bottom: 20px;                  
    background-color: var(--primary-color); 
}
fieldset legend 
{
    font-size: 18px;
    font-weight: bold;
    color: var(--extra-color);
    padding: 0 5px; 
}

.campoEmail 
{
    display: flex;
    align-items: center;
    gap: 2px;
}

.campoPreferencia
{
    border-radius: 10px;
    display: block; 
    margin-bottom: 5px; 
}

.campoConsulta
{
    display: block;
    margin-top: 8px;
}

.mensaje
{
    font-size: 14px;
    margin-left: 5px;
}
button 
{
    background: var(--extra-color);
    color: white;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
}
button:hover 
{
    background-color: var(--text-color)
}


textarea 
{
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 8px;
    height: 120px;
}
.comentario 
{
    display: flex;
    flex-direction: column;
    gap: 5px; /* hace espacio*/
}
