@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

:root{
    --primary-color: #F2F2F2;
    --secondary-color: #D99873;
    --tertiary-color: #D97E6A;
    --extra-color: #A64E46;
    --text-color: #260101;
    --text-blue: #2222CC;

    --title-font: "Encode Sans SC", sans-serif;
    --GoDo-font: "Gowun Dodum", sans-serif;
}
*{
    background-color:var(--primary-color);
    color:var(--text-blue);
}
.titulo_principal{
    font-family: var(--title-font);
    color: var(--extra-color);
}

nav{
    background-color: black;
}
